<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.travelme.customer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity android:name=".activities.owner.OwnerActivity"></activity>
        <activity android:name=".activities.hour.HourActivity" />
        <activity android:name=".activities.forgot_password.ForgotPasswordActivity" />
        <activity android:name=".activities.maps.MapsActivity" />
        <activity android:name=".activities.detail_my_order.DetailMyOrderActivity" />
        <activity android:name=".activities.update_profile.UpdateProfileActivity" />
        <activity android:name=".activities.login.LoginActivity" />
        <activity android:name=".activities.register.RegisterActivity" />
        <activity android:name=".activities.order.OrderActivity" />
        <activity
            android:name=".activities.detail_owner.DetailOwnerActivity"
            android:label="@string/title_activity_detail_owner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".utilities.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>